body{
    background: #f7f7f7;
}

.photo{
    border: 1px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #505050; /*Configura a cor do texto*/
}

.post_title{
    font-size: 16px; /*Configura o tamanho do texto*/
    font-style: italic; /*Configura o estilo do texto*/
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
} 